[fip]
147.251.124.35

[resto]
192.168.2.49

[resto_db]

[apache:children]
resto

[local:children]
resto
resto_db

[local:vars]
ansible_become=yes
ansible_user=ubuntu
ansible_ssh_common_args='-o ProxyCommand="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -q ubuntu@{{ groups["fip"][0] }}" -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

[all:vars]

admin_email=valtri@civ.zcu.cz

# for SSL certificate
# apache_md=true

# keep in sync with:
#  * docker-compose-restodb.yml
#  * docker-compose.yml
mtu=1442

# default: reverse lookup from fip
# email_hostname=
# email_relayhost=
# email_protocols=all

# default: fip hostname from DNS
# public_hostname=

# docker network inspect -f '{{.IPAM.Config}}' resto_default
smtp_network=172.19.0.0/16
smtp_host=172.19.0.1
smtp_port=25

secret_admin_password='good.password'
secret_db_password='resto'
secret_jwt_passphrase='good.passphrase'
